@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --peach-orange: #FF7F50;
  --rosy-pink: #FF6F91;
  --light-yellow: #FFECB3;
  --golden-yellow: #FFB84D;
  --soft-coral: #FF8C69;
  --warm-beige: #F5E1C7;
  --light-blush: #fae1da;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  .swiper-button-prev, .swiper-button-next {
     color: white;
  }
  .swiper-pagination-bullet{
    background: white;
  }
}
